/* .landing-page {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    padding-top: 5em;
    padding-left: 5.5rem;
    padding-right: 8.5rem;
    height: 100vh;
    width: 100vw;
}

.landing-page-title-first{
    font-family: 'Noto Serif', serif;
    font-weight: 900;
    font-size: 75px;
    position: relative;
    left:10%;
    color: var(--primary-red);
}

.landing-page-title-second{
    font-family: 'Noto Serif', serif;
    font-weight: 900;
    font-size: 75px;
    left:10%;
    top: -20px;
    position: relative;
    color: var(--primary-red);
}

.title-courage{
    color: var(--secondary-red);
}

.landing-plus{
    position: relative;
    top: 10%;
    left: 6%;
    font-weight: 1000;
    font-size: 90px;
    color: var(--primary-red);
}


 */
